*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


body {
    font-family: Mukta, sans-serif;
    display: grid;
    justify-content: center;
    align-items: center;
    color: #4f546c;
    font-size: 0.9rem;
    background-color: #f4f6fb;
}


table {
    width: 88%;
    table-layout: fixed;
    border-radius: 0.4rem;
    border-collapse: collapse;
    box-shadow: 0 5px 10px #e1e5ee;
    background-color: white;
    text-align: center;
    overflow: hidden;
    margin: 0 auto 4rem auto;
}



h1 {
    padding: 1.5rem;
}



table td {
    padding: 1rem 2rem;
}



table a {
    text-decoration: none;
    color: #2962ff;
}



table .clube {
    border-radius: 0.4rem;
    background-color: red;
    padding: 0.2rem 1rem;
    text-align: center;
}



table .porto {
    background-color: #c2e0F6;
    color: #3b58ff;
}



table .sporting {
    background-color: #c8e6c9;
    color: #388e3c;
}



table .benfica {
    background-color: #ffcdd2;
    color: #c62828;
}



table tr:nth-child(even) {
    background-color: #f4f6fb;
}
