body {
    font-family: Mukta, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #4f546c;
    font-size: 1.6rem;
    background-color: #f4f6fb;
}


* {
    margin: 0.2rem;
}


h1 {
    font-size: 50px;
    padding: 1.5rem;
}


img {
    /*height: 74vh;*/
    border: solid 4px hs1(207, 100%, 59%);
    border-radius: 0.4rem;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.5);
}
